# Workflow file adapted from https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
name: Build and Tests

# Trigger this CI on push or for PRs
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows running this workflow manually from the Actions tab, useful for Developers who may want
  # to view test status on the production end, prior to main branch merge.
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x' # SDK Version to use; x will use the latest version

      - name: Restore Packages
        run: dotnet restore

      - name: Build Solution
        run: dotnet build --configuration Release --no-restore

      - name: Run Tests
        run: dotnet test --no-restore --verbosity normal
